fastapi==0.95.1
uvicorn==0.22.0
opencv-python-headless==4.7.0.72
python-dotenv==1.0.0
jsonschema==4.17.3
pytesseract==0.3.10

# Testing and CI/CD Dependencies
pytest>=7.3.1,<9
locust==2.15.1
flake8==6.0.0
black==23.3.0
isort==5.12.0
coverage==7.2.5
requests==2.30.0

# Configuration Management Dependencies
pillow>=10.1
scikit-image==0.24.0
python-multipart==0.0.6
pytest-asyncio>=0.26.0
httpx==0.24.0
redis>=4.5.4,<5.0.0
prometheus-client>=0.16.0,<1.0.0
numpy>=1.20.0,<2.0.0