fastapi==0.95.1
uvicorn==0.22.0
opencv-python-headless==4.7.0.72
python-dotenv==1.0.0
pytesseract==0.3.10
python-multipart==0.0.6

# Testing and CI/CD Dependencies
pytest>=7.3.1,<9
coverage==7.2.5
requests==2.30.0

# Configuration Management Dependencies
pillow>=10.1
pytest-asyncio>=0.26.0
numpy>=1.20.0,<2.0.0